<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<dom-module id="about-view">
  <template>
    <px-card id="myCard" header-text="About this application">
      <style is="custom-style">
        div.markdown-html > h2 {
          margin-top: 0;
        }
      </style>
      앱 소개(의의) :
      ㅁ러나러ㅣ머리아ㅓ미런ㅇ러밍ㄹㄴ

      앱 제작 배경  :
      러미널이ㅏ멀ㄴ이ㅏㅓ리먼이라ㅓㅁㄹ

      스코프 :
      In Scope:
특정 관할서의 경찰관이라는 정보가 등록되면, 금지구역에 접근한 보호 대상자의 위치와 정보를 알 수 있고 관제센터 인력과 쉬운 의사소통이 가능한 앱을 개발한다.
부착장치와 GPS 센서가 결합된 전자발찌 모델을 제작해 실시간 위치 데이터를 기반으로 시연한다.
Out of Scope:
전자발찌(부착장치, 휴대용 추적장치, 재택감독장치 및 물리적 파손방지)의 세부적 구현.
위치추적 로그파일의 빅데이터 자동화

      팀원:
      ㅁ너린엄런ㅁ리ㅓㅁ;ㅣㄴㅇ러ㅣㅏㄴ

      <div>
        <marked-element id="aboutContentMarkdown" markdown="">
          <div class="markdown-html"></div>
        </marked-element>      </div>
    </px-card>
<!--    <iron-ajax id="aboutContentAjaxEl" handle-as="text"></iron-ajax> -->
  </template>
  <script>
    Polymer({
      is: 'about-view',
      properties: {},
      ready: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/docs";

        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          that.$.aboutContentMarkdown.markdown = evt.detail.response;
        });
        this.$.aboutContentAjaxEl.generateRequest();
      }
    });
  </script>
</dom-module>
