<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<dom-module id="about-view">
  <template>
    <px-card id="myCard" header-text="About this application">
      <style is="custom-style">
        div.markdown-html > h2 {
          margin-top: 0;
        }
      </style>
      <p><span style="font-size:18pt;"><strong>Electric Anklet Monitoring System</strong></span></p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>어플리케이션 개요</strong></span></p>

  <p>- 개요문장1</p>

  <p>- 개요문장2</p>

  <p>- 개요문장3</p>

  <p>&nbsp;</p>

  <p><strong><span style="font-size:14pt;">어플리케이션의 주요기능</span></strong></p>

  <p>- 기능1 설명</p>

  <p>- 기능2 설명</p>

  <p>- 기능3 설명</p>

  <p>- 기능4 설명</p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>어플리케이션 개발 배경</strong></span></p>

  <p>- 개발 배경 설명문장1</p>

  <p>- 개발 배경 설명문장2</p>

  <p>- 개발 배경 설명문장3</p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>기대예상효과</strong></span></p>

  <p>- 기대효과1</p>

  <p>- 기대효과2</p>

  <p>- 기대효과3</p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>테크스펙</strong></span></p>

  <p>- 사용한 기술1</p>

  <p>- 사용한 기술2</p>

  <p>- 사용한 기술3</p>

  <p>- 사용한 기술4</p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>개발한 사람들</strong></span></p>

  <p>- 1</p>

  <p>- 2</p>

  <p>- 3</p>

  <p>- 4</p>

  <p>- 5</p>

  <p>- special thanks to 멘토님</p>

      <div>
        <marked-element id="aboutContentMarkdown" markdown="">
          <div class="markdown-html"></div>
        </marked-element>      </div>
    </px-card>
<!--    <iron-ajax id="aboutContentAjaxEl" handle-as="text"></iron-ajax> -->
  </template>
  <script>
    Polymer({
      is: 'about-view',
      properties: {},
      ready: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/docs";

        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          that.$.aboutContentMarkdown.markdown = evt.detail.response;
        });
        this.$.aboutContentAjaxEl.generateRequest();
      }
    });
  </script>
</dom-module>
