<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<dom-module id="about-view">
  <template>
    <px-card id="myCard" header-text="About this application">
      <style is="custom-style">
        div.markdown-html > h2 {
          margin-top: 0;
        }
      </style>
      <p><span style="font-size:18pt;"><strong>Electric Anklet Monitoring System</strong></span></p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>어플리케이션 개요</strong></span></p>

  <p>ANKLET시스템은 위치추적관제센터의 GPS모니터링 시스템을 개선한 웹 어플리케이션으로 직관적인 UI와 생체센서 정보를 종합적으로 활용하여 보호감찰관들의 업무효율을 높인다. 또한 클라우드를 이용하여 안정적으로 큰 규모의 데이터를 보관하고, 그 데이터를 분석할 수 있는 환경을 구축하였다.</p>


  <p>&nbsp;</p>

  <p><strong><span style="font-size:14pt;">어플리케이션의 주요기능</span></strong></p>

  <p>1) 우선순위 시스템 : GPS모니터링 시에 발생하는 수많은 주의경보들을 보다 효율적으로 관리할 수 있도록 경보를 세분화하는 우선순위 시스템을 도입하여 적은 인력으로도 효과적인 모니터링이 가능하게 한다.</p>

  <p>2) GPS 지도와 연동된 퍼스널 페이지 : GPS지도와 연동된 퍼스널 페이지를 앱 안에서 바로 제공하여 보호감찰관이 GPS정보 외에도 발찌 착용자의 의도나 심리상태를 파악하는 데에 도움을 준다.</p>

  <p>3) 생체데이터 수집 및 분석 : 전자발찌에 GPS센서 외에 체온, 알코올농도, 심박, 소리 센서를 추가 부착하여 그 데이터를 클라우드에 모으고, 분석 툴과 머신러닝을 이용해 유의미한 패턴을 발견하는 방향으로 나아갈 수 있다. 충분한 데이터가 쌓여 재범자들의 일정한 패턴을 발견한다면 GPS정보만으로는 파악할 수 없었던 부분까지도 파악하고 범죄를 예방할 수 있을 것으로 기대한다. </p>


  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>어플리케이션 개발 배경</strong></span></p>

  <p>전자발찌 제도 도입 후 성범죄 재범률은 8분의 1 수준으로 줄어들어 단기간에 빠른 효과를 보았다. 그러나 아직 완벽히 재범을 방지하지는 못하고 있는데 그 원인은 인력부족과 GPS정보만으로 범행의도와 범행유무를 완전히 파악하기 어렵다는 데에 있다. </p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>기대예상효과</strong></span></p>

  <p>ANKLET의 개선된 경보관리시스템을 통해 보호감찰관들이 경보에 대응하는 시간이 단축되어 전자발찌제도의 재범예방효과가 증가한다. 또한 발찌를 통해 GPS정보 외에 추가적인 생체정보를 수집해 분석하여 범행 시 나타나는 신체적, 위치적 패턴에 대해 체계적으로 이해하고 대응할 수 있게 된다.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>

  <p><span style="font-size:14pt;"><strong>개발한 사람들</strong></span></p>

  <p>- 고희경 </p>

  <p>- 하수현 </p>

  <p>- 최보원 </p>

  <p>- 박우빈 </p>

  <p>- 백승연 </p>

  <p>- special thanks to GE 코리아 이윤희 멘토님</p>

      <div>
        <marked-element id="aboutContentMarkdown" markdown="">
          <div class="markdown-html"></div>
        </marked-element>      </div>
    </px-card>
<!--    <iron-ajax id="aboutContentAjaxEl" handle-as="text"></iron-ajax> -->
  </template>
  <script>
    Polymer({
      is: 'about-view',
      properties: {},
      ready: function() {
        var that = this;
        this.$.aboutContentAjaxEl.url = "/docs";

        this.$.aboutContentAjaxEl.addEventListener('response', function(evt) {
          that.$.aboutContentMarkdown.markdown = evt.detail.response;
        });
        this.$.aboutContentAjaxEl.generateRequest();
      }
    });
  </script>
</dom-module>
