<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-map/px-map.html">

<dom-module id="gpsmap-view">
  <template>
    <iframe src="./daummap.html" width="500" height="400" scrolling="no" framespacing=0 marginheight=0 marginwidth=0 vspace=0></iframe><p>
    <!--iframe option width="100%" height="400" name="ppp" frameborder="0"-->
  </template>
  <script>
    Polymer({
      is: 'gpsmap-view',
      properties: {
      },
      ready: function() {
      }
    });
  </script>
</dom-module>
